## Practice Questions for numpy
1. Define two custom numpy arrays, say A and B. Generate two new numpy arrays by stacking A and B vertically and horizontally.
2. Find common elements between A and B. [Hint : Intersection of two sets]
3. Extract all numbers from A which are within a specific range. eg between 5 and 10. [Hint: np.where() might be useful or boolean masks]
4. Filter the rows of iris_2d that has petallength (3rd column) > 1.5 and sepallength (1st column) < 5.0
```
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris_2d = np.genfromtxt(url, delimiter=',', dtype='float', usecols=[0,1,2,3])
```

Answers:
1. Define two custom numpy arrays, say A and B. Generate two new numpy arrays by stacking A and B vertically and horizontally.

In [ ]:
a = np.array([1, 2, 4])
b = np.array([4, 5, 6])

#vertical stack
v_stack = np.vstack((a,b))
print(v_stack)

#horizontal stack
h_stack = np.hstack((a, b))
print(h_stack)

Answer: 2. Find common elements between A and B. [Hint : Intersection of two sets]

In [ ]:
print(np.intersect1d(a,b))

Answer:
3. Extract all numbers from A which are within a specific range. eg between 5 and 10. [Hint: np.where() might be useful or boolean masks]

In [ ]:
index = np.where((a >= 2) & (a <= 5)) #pulls the index/indices that meets criteria
print(a[index]) #pulls the value of the index/indices

Answer:
4. Filter the rows of iris_2d that has petallength (3rd column) > 1.5 and sepallength (1st column) < 5.0

In [ ]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris_2d = np.genfromtxt(url, delimiter=',', dtype='float', usecols=[0,1,2,3])
iris_2d[0:5]
filtered = iris_2d[(iris_2d[:, 2] > 1.5) & (iris_2d[:, 0] < 5.0)] #pulls values
print(filtered)
filtered2 = np.where((iris_2d[:, 2] > 1.5) & (iris_2d[:, 0] < 5.0))#np.where pulls indices
print(filtered2)
iris_2d[filtered2] # pulls values from an index array

## Practice Questions for Pandas

1. From df filter the 'Manufacturer', 'Model' and 'Type' for every 20th row starting from 1st (row 0).

```
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
```

2. Replace missing values in Min.Price and Max.Price columns with their respective mean.

```
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
```

3. How to get the rows of a dataframe with row sum > 100?

```
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
```

Answer: 1. From df filter the 'Manufacturer', 'Model' and 'Type' for every 20th row starting from 1st (row 0).

```
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
```

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df.head()
df_filter = df.iloc[::20, :][['Manufacturer', 'Model', 'Type']] #slice by rows, all rows, every 20
#df_filter2 = df.iloc[::20, [0,1,2]] #different way to achieve same result, using the column index rather than name
df_filter
#df_filter2

Answer: 2. Replace missing values in Min.Price and Max.Price columns with their respective mean.

```
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
```

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

#df['Min.Price']=df['Min.Price'].fillna(df['Min.Price'].mean()) #filling one column at a time
#df['Max.Price']=df['Max.Price'].fillna(df['Max.Price'].mean())
#df.head()

df_filled = df.fillna({'Min.Price': df['Min.Price'].mean(), 'Max.Price': df['Max.Price'].mean()}) #passing in a dictionary to the dataframe


Answer: 3. How to get the rows of a dataframe with row sum > 100?

```
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
```

In [ ]:
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
df.head()

In [ ]:
rows = df[df.sum(axis=1) > 100] #returns the rows with sum > 100
rows

In [ ]:
rows.index #returns the row numbers/indeces